:root {
    --color-violeta: #490C98;
    --color-violeta-oscuro: #430073;
    --color-violeta-claro: #7E00D9;
    --color-violet-masclaro: #8F3AFD;
    --color-azul: #010a7e;
    --color-verde: #87ff5f;
}

body {
    background: linear-gradient(to bottom, var(--color-violeta-claro) 28%, var(--color-violeta-oscuro) 100%);
    min-height: 100vh;
    margin: 0;
    font-family: 'Outfit';
}

.main {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 2em;

 }
.main-jugadores {
    display: flex;
    flex-direction: column;

    /* Centrar verticalmente (eje principal: columna) */
    justify-content: center;

    /* Centrar horizontalmente (eje transversal) */
    align-items: center;

    margin: 0 auto;
}
.header-izquierda {
    position: absolute;
    background-color: var(--color-azul);
    border-radius: 0 0 20px 20px;
}

.contenedor-redondeado {
    border-radius: 0 0 20px 20px;
}

.sombra {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2) !important;
}

.sombra-texto {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.fw-extrabold {
    font-weight: 800;
}

.estilo-form {
    color: white;
    background-color: var(--color-azul) !important;
    border: none !important;
}

.texto-verde {
    color: var(--color-verde);
}

.btn-nav {
    font-weight: bold;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    border-radius: 3rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.flecha {
    display: inline-block;
    transition: transform 0.3s ease;
}

.navbar-toggler[aria-expanded="true"] .flecha {
    transform: rotate(180deg);
}

.fila-estadistica {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    width: 100%;
    background-color: var(--color-violeta-claro);
    text-align: center;
}


@media (min-width: 576px) {
    .fila-estadistica {
        flex-direction: row;
    }
}

.contenedor-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
    border-radius: 1rem;
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-violeta);
    border: 4px solid var(--color-verde);
    min-width: 280px;
    color: white;
    width: 100%;
}

.fondo-violeta {
    background-color: var(--color-violeta);
}

.fondo-azul {
    background-color: var(--color-azul);
}

.fondo-violetaclaro {
    background-color: var(--color-violeta-claro);
}

.fondo-violetaoscuro {
    background-color: var(--color-violeta-oscuro);
}

.w-90 {
    width: 90% !important;
}

.w-100px {
    width: 100px;
}

.btn-verde {
    background-color: var(--color-verde) !important;
    color: var(--color-violet-masclaro) !important;
    border-radius: 15px;
    transition: all 200ms ease-in-out;
}

.btn-verde:hover {
    background-color: var(--color-violet-masclaro) !important;
    color: var(--color-verde) !important;
}

.btn-violeta {
    background-color: var(--color-violet-masclaro);
    color: white;
    border-radius: 15px;
    transition: all 200ms ease-in-out;

}

.btn-violeta:hover {
    background-color: var(--color-azul);
}








.btn-jugar {
    font-size: 30px;
    width: 50%;
    border-radius: 50px;
    background-color: var(--color-verde);
    color: var(--color-violeta-oscuro);
    padding: 5px;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
}

.btn-jugar:hover {
    background-color: var(--color-azul);
    color: var(--color-verde);
}



.jugar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}




/* ------------------ RANKING ------------------ */

.posicion{
    background-color:var(--color-verde);
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.posicion p {
    margin: 0;
    color: var(--color-violeta);/* Quita márgenes */
    line-height: 50px;   /* Igual a la altura para centrar verticalmente */
    text-align: center;  /* Centrar horizontalmente */
    width: 100%;         /* Que ocupe todo el ancho */
    font-weight: bold;   /* Opcional, para que se vea mejor */
    font-size: 20px;
}


.usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* opcional */
    width: 100%; /* para que tome todo el ancho del contenedor padre */
    padding: 0 10px 0 0 ;
}

.ranking {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: var(--color-verde) 1px solid;
    border-radius: 15px;
    color: var(--color-verde);
    background-color: var(--color-violeta);
    align-items: center;
    height: 200px;


}
.fila-usuario {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 3.5rem;
    background-color: var(--color-violeta-claro);
    text-align: center;
    width: 25em;
    margin-top: 20px;
}


/* ------------------ PERFIL ------------------ */


.card-usuario {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;     /* Centrado vertical */
    gap: 2em;                /* Espacio controlado entre los elementos */
    border: solid 1px white;
    border-radius: 15px;
    padding: 2em 3em;
    background-color: var(--color-violeta);
    width: 50%;
    height: auto;

    margin-top: 20px;
    justify-content: space-between;
}


.usuarioPerfil{
    display: flex;
    flex-direction: column; /* o 'row' si querés usuario y puntaje uno al lado del otro */
    margin-top: 18px;
    /* Esto alinea el contenido al inicio (izquierda) */
    text-align: left;
}
.icono{

    display: flex;
    flex-direction: row;
    margin-left: 40px;
}
.foto-perfil{
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-verde);
    margin-right: 20px;
}

#icon {
    color: var(--color-verde);

}
.botones {
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.boton-verde {
     background-color: #87ff5f;
     text-decoration: none;
     color: #7e00d9;
     transition: all 0.3s ease; /* para una transición suave */
 }

.boton-verde:hover {
    background-color: var(--color-violeta-claro);
    color: #87ff5f;
    font-weight: bold;
}
.btn-blue {
     background-color: var(--color-azul);
     color: white;
     transition: all 200ms ease-in-out;
 }

.btn-blue:hover {
    background-color: red;
    color: white;
}
.puntos {
    border-radius: 40px;
    display: flex;
    width: 120px;
    justify-content: center; /* Corregido */
    align-items: center;
    background-color: var(--color-violeta-claro) ;
    text-align: center;
    padding: 5px 20px 0 20px; /* Opcional: para más espacio interno */
}
