<main class="d-flex flex-column align-items-center ">
    <div class="text-left mt-4">
        <a href="/POC/lobbyEditor/gestionarPreguntas"
           class="btn btn-danger btn-lg fw-bold rounded-pill px-4 boton-animado">
            Volver
        </a>
    </div>
    <div class="crear-contenedor p-5 rounded-5">

        <h1 class="text-white fw-bold">Editar Pregunta</h1>
        <h3 class="text-white"> Id: {{id}} </h3>
        <div class="fila-crear fw-bold" style="color: var(--color-verde)">

            <form method="post" action="{{action}}"
                  style="display: flex; flex-direction: column; gap: 1.5em; align-items: center; width: 100%;">

                <input type="hidden" name="id" value="{{id}}">  <!-- envía el id en el form -->

                <!-- Enunciado -->
                <div class="form-group">
                    <label for="enunciado">Enunciado:</label>
                    <input type="text" name="enunciado" id="enunciado" required style="width: 70%; border-radius: 30px"
                           placeholder="{{enunciado}}">
                </div>

                <!-- Categorías -->
                <div class="form-group">
                    <label>Categoría:</label>
                    <div class="radios-crear" style="color: white">
                        <div class="radio-opcion">
                            <input type="radio" id="historia" name="categoria" value="HISTORIA" required
                                   {{#categoriaHistoria}}checked{{/categoriaHistoria}}>
                            <label for="historia">Historia</label>
                        </div>
                        <div class="radio-opcion">
                            <input type="radio" id="ciencia" name="categoria" value="CIENCIA"
                                   {{#categoriaCiencia}}checked{{/categoriaCiencia}}>
                            <label for="ciencia">Ciencia</label>
                        </div>
                        <div class="radio-opcion">
                            <input type="radio" id="deportes" name="categoria" value="DEPORTE"
                                   {{#categoriaDeporte}}checked{{/categoriaDeporte}}>
                            <label for="deportes">Deportes</label>
                        </div>
                        <div class="radio-opcion">
                            <input type="radio" id="arte" name="categoria" value="ARTE"
                                   {{#categoriaArte}}checked{{/categoriaArte}}>
                            <label for="arte">Arte</label>
                        </div>
                        <div class="radio-opcion">
                            <input type="radio" id="entretenimiento" name="categoria" value="ENTRETENIMIENTO"
                                   {{#categoriaEntretenimiento}}checked{{/categoriaEntretenimiento}}>
                            <label for="entretenimiento">Entretenimiento</label>
                        </div>
                        <div class="radio-opcion">
                            <input type="radio" id="geografia" name="categoria" value="GEOGRAFIA"
                                   {{#categoriaGeografia}}checked{{/categoriaGeografia}}>
                            <label for="geografia">Geografía</label>
                        </div>
                    </div>
                </div>

                <!-- Respuestas -->
                <div class="form-group">
                    <label>Respuestas:</label>
                    <div class="respuestas-crear">

                        <div class="respuesta-opcion">
                            <input type="radio" name="respuestaCorrecta" value="A" id="correctaA" required
                                   {{#opciones.0.seleccionada}}checked{{/opciones.0.seleccionada}}>
                            <label for="respuestaA">A)</label>
                            <input type="text" name="respuesta[]" id="respuestaA" required
                                   placeholder="{{respuestas.0.texto}}">
                        </div>

                        <div class="respuesta-opcion">
                            <input type="radio" name="respuestaCorrecta" value="B" id="correctaB"
                                   {{#opciones.1.seleccionada}}checked{{/opciones.1.seleccionada}}>
                            <label for="respuestaB">B)</label>
                            <input type="text" name="respuesta[]" id="respuestaB" required
                                   placeholder="{{respuestas.1.texto}}">
                        </div>

                        <div class="respuesta-opcion">
                            <input type="radio" name="respuestaCorrecta" value="C" id="correctaC"
                                   {{#opciones.2.seleccionada}}checked{{/opciones.2.seleccionada}}>
                            <label for="respuestaC">C)</label>
                            <input type="text" name="respuesta[]" id="respuestaC" required
                                   placeholder="{{respuestas.2.texto}}">
                        </div>

                        <div class="respuesta-opcion">
                            <input type="radio" name="respuestaCorrecta" value="D" id="correctaD"
                                   {{#opciones.3.seleccionada}}checked{{/opciones.3.seleccionada}}>
                            <label for="respuestaD">D)</label>
                            <input type="text" name="respuesta[]" id="respuestaD" required
                                   placeholder="{{respuestas.3.texto}}">
                        </div>

                    </div>
                    <small style="color: var(--color-verde)">Seleccioná cuál es la correcta</small>
                </div>


                    <button type="submit" class="btn btn-success fw-bold">Crear pregunta</button>


            </form>

        </div>
    </div>
</main>
</body>
</html>