<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntados</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link href="/POC/public/css/POCstyles.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Modak&family=Outfit:wght@100..900&family=Rubik+Glitch&family=Rubik+Spray+Paint&family=UnifrakturMaguntia&display=swap"
            rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg justify-content-center p-0">
    <div class="d-flex flex-column align-items-center" style="width: 85%;">
        <div class="text-center text-white py-4 w-100 contenedor-redondeado fondo-azul">
            <h3 class="text-white fw-bold display-7">¿Posta o Chamuyo?</h3>
        </div>
        <div class="w-90 contenedor-redondeado fondo-violeta">
            <div class="d-flex justify-content-center mb-2">
                <button class="navbar-toggler boton-verde mt-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown">
                    <span class="flecha">↓</span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-center w-100" id="navbarNavDropdown">
                <ul class="navbar-nav gap-3 gap-lg-1 p-3 d-flex justify-content-center w-100">
                    {{#botones}}
                        <li class="nav-item flex-grow-1  mx-lg-5">
                            <a class="btn btn-nav fs-5 boton-verde fw-bold sombra rounded-5 w-100"
                               href="{{link}}">{{texto}}</a>
                        </li>
                    {{/botones}}
                </ul>
            </div>
        </div>
    </div>
</nav>
