<main class="d-flex flex-column justify-content-center align-items-center my-5">
    <h1 class="fs-1 texto-verde sombra-texto">Panel de Adminstrador</h1>
    <a class="btn btn-lg mt-3 boton-verde fw-bold" href="/POC/login/cerrarSesion">Cerrar Sesión</a>
    <form id="formPDF" method="post" action="index.php?controller=lobbyADM&method=exportarPDF">
        <input type="hidden" name="imgEdad" id="imgEdadBase64">
        <input type="hidden" name="imgGenero" id="imgGeneroBase64">
        <input type="hidden" name="imgPais" id="imgPaisBase64">
        <button type="submit" class="btn btn-success">Descargar PDF</button>
    </form>
    <div class="d-flex flex-column gap-5 w-100 justify-content-center p-5">
        <article class="contenedor-article">
            <h3 class="texto-verde mb-4">Estadisticas Generales</h3>
            <section class="d-flex flex-column gap-4 align-items-center mx-4 text-white">
                <div class="fila-estadistica">
                    <p class="m-0 fs-4 fw-medium">Jugadores Totales:</p>
                    <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{totalJugadores}}</p>
                </div>
                <div class="fila-estadistica">
                    <p class="m-0 fs-4 fw-medium">Partidas Jugadas:</p>
                    <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{totalPartidas}}</p>
                </div>
                <div class="fila-estadistica">
                    <p class="m-0 fs-4 fw-medium">Usuarios Nuevos:</p>
                    <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{usuariosNuevos}}</p>
                </div>
            </section>
        </article>
        <article class="contenedor-article">
            <h3 class="texto-verde mb-4">Usuarios por Edad</h3>
            <section class="d-flex flex-column flex-xl-row justify-content-center align-items-center">
                <div class="d-flex flex-column gap-4 align-items-center mx-4 w-100">
                    <div class="fila-estadistica">
                        <p class="m-0 fs-4 fw-medium">Menores (-18):</p>
                        <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{menores}}
                        </p>
                    </div>
                    <div class="fila-estadistica">
                        <p class=" m-0 fs-4 fw-medium">Adultos (+18):</p>
                        <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{adultos}}
                        </p>
                    </div>
                    <div class="fila-estadistica">
                        <p class="m-0 fs-4 fw-medium">Jubilados (+65):</p>
                        <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{jubilados}}
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div id="graficoEdad" style="width: 500px; height: 300px;"></div>
                    <div class="text-white rounded-4 p-4 fondo-violetaclaro">
                        <p>Menores: {{porcentajeMenores}}%</p>
                        <p>Adultos: {{porcentajeAdultos}}%</p>
                        <p>Jubilados: {{porcentajeJubilados}}%</p>
                    </div>
                </div>
            </section>
        </article>
        <article class="contenedor-article">
            <h3 class="texto-verde mb-4">Usuarios por País</h3>
            <section class="d-flex flex-column gap-4 align-items-center mx-4">
                {{#usuariosPorPais}}
                <div class="fila-estadistica">
                    <p class="m-0 fs-4 fw-medium">{{pais}}</p>
                    <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{cantidad}}</p>
                </div>
                {{/usuariosPorPais}}

                {{^usuariosPorPais}}
                    <p class="text-white">No hay datos de países registrados.</p>
                {{/usuariosPorPais}}

            </section>
        </article>
        <article class="contenedor-article">
            <h3 class="texto-verde mb-4">Usuarios por Genero</h3>
            <section class="d-flex flex-column flex-xl-row justify-content-center align-items-center">
                <div class="d-flex flex-column gap-4 align-items-center mx-4 w-100">
                    <div class="fila-estadistica">
                        <p class="m-0 fs-4 fw-medium">Hombres:</p>
                        <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{hombres}}
                        </p>
                    </div>
                    <div class="fila-estadistica">
                        <p class=" m-0 fs-4 fw-medium">Mujeres:</p>
                        <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{mujeres}}
                        </p>
                    </div>
                    <div class="fila-estadistica">
                        <p class="m-0 fs-4 fw-medium">Otros:</p>
                        <p class="m-0 fs-5 fw-semibold p-2 rounded-5 texto-verde fondo-violetaoscuro w-100px">{{otros}}
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div id="graficoGenero" style="width: 500px; height: 300px;"></div>
                    <div class="text-white rounded-4 p-4 fondo-violetaclaro">
                        <p>Hombres: {{porcentajeHombres}}%</p>
                        <p>Mujeres: {{porcentajeMujeres}}%</p>
                        <p>Otros: {{porcentajeOtros}}%</p>
                    </div>
                </div>
            </section>
        </article>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(dibujarTorta);

    function dibujarTorta() {
        const data = google.visualization.arrayToDataTable([
            ['Grupo', 'Porcentaje'],
            ['Menores', {{porcentajeMenores}}],
            ['Adultos', {{porcentajeAdultos}}],
            ['Jubilados', {{porcentajeJubilados}}]
        ]);

        const options = {

            pieHole: 0.4,
            backgroundColor: 'transparent',
            legend: { position: 'bottom', textStyle: { color: '#ffffff' } }, // opcional: texto blanco
            pieSliceTextStyle: { color: '#ffffff' }, // opcional: porcentaje en blanco
            colors: ['#4bc0c0', '#36a2eb', '#ff6384']
        };

        const chart = new google.visualization.PieChart(document.getElementById('graficoEdad'));
        chart.draw(data, options);
        const imagenEdad = chart.getImageURI();
        document.getElementById('imgEdadBase64').value = imagenEdad;

    }
</script>
<script>
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(dibujarGraficoGenero);

    function dibujarGraficoGenero() {
        const data = google.visualization.arrayToDataTable([
            ['Género', 'Porcentaje'],
            ['Hombres', {{porcentajeHombres}}],
            ['Mujeres', {{porcentajeMujeres}}],
            ['Otros', {{porcentajeOtros}}]
        ]);

        const options = {

            backgroundColor: 'transparent',
            pieHole: 0.4,
            legend: { position: 'bottom', textStyle: { color: '#ffffff' } },
            pieSliceTextStyle: { color: '#ffffff' },
            colors: ['#36a2eb', '#ff6384', '#aa66cc']
        };

        const chart = new google.visualization.PieChart(document.getElementById('graficoGenero'));
        chart.draw(data, options);
        const imagenGenero = chart.getImageURI();
        document.getElementById('imgGeneroBase64').value = imagenGenero;

    }
</script>

</body>

</html>