<h1>LOBBY JUGADOR</h1>
<a href="index.php?controller=Perfil&method=mostrar">
    <button>Ir a mi perfil</button>
</a>
<a class="btn btn-lg mt-3 boton-verde fw-bold" href="index.php?controller=Login&method=cerrarSesion">
    Cerrar Sesión
</a>