<div style="display: flex;flex-direction: row;align-items: center;justify-content: space-around;margin-bottom: 1em">
    <div class="text-left mt-4">
        <a href="/POC/LobbyEDITOR/show"
           class="btn btn-danger btn-lg fw-bold rounded-pill px-4 boton-animado">
            Volver
        </a>
    </div>
    <form method="post">
        <input class="p-2 rounded-pill" type="search" name="buscarPregunta" id="buscarPregunta" placeholder="Buscar por ID, enunciado o categoria"  value="{{buscarPregunta}}" style="background-color: var(--color-violeta-oscuro) ">
        <button class="btn btn-violeta" type="submit">Buscar</button>
    </form>
</div>
<div style="display:flex; align-items: center; justify-content: center;">
    <div style="width: 80%; height: 400px; overflow-y: auto; overflow-x: auto;">
        <table class="table table-striped table-sm" style="width: 100%; table-layout: fixed;">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 35%;">
                <col style="width: 15%;">
                <col style="width: 40%;">
            </colgroup>

            <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
            <tr>
                <th>ID</th>
                <th>Enunciado</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {{#preguntas}}
                <tr>
                    <td>{{idpregunta}}</td>
                    <td>{{enunciado}}</td>
                    <td>{{categoria}}</td>
                    <td>
                        <!-- <button class="btn btn-violeta">Editar</button>
                         <button class="btn btn-danger">Eliminar</button>
                        <button class="btn btn-violeta">Ver detalles</button>
                        <a href="/POC/LobbyEDITOR/editarPregunta?id={{idpregunta}}" class="btn btn-violeta">Editar</a>
                        <button class="btn btn-violeta">Aprobar</button>
                        <form action="/POC/Pregunta/eliminar" method="post" style="display:inline">
                            <input type="hidden" name="id" value="{{idpregunta}}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>-->

                        <button class="btn btn-violeta">Ver detalles</button>
                        <a href="/POC/LobbyEDITOR/editarPregunta?id={{idpregunta}}" class="btn btn-violeta">Editar</a>
                        <form action="/POC/LobbyEDITOR/aprobarPregunta" method="post" style="display:inline">
                            <input type="hidden" name="id" value="{{idpregunta}}">
                            <button type="submit" class="btn btn-violeta">Aprobar</button>
                        </form>
                        <form action="/POC/Pregunta/eliminar" method="post" style="display:inline">
                            <input type="hidden" name="id" value="{{idpregunta}}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>

                    </td>
                </tr>
            {{/preguntas}}

            {{^preguntas}}
                <tr>
                    <td colspan="6">No se encontraron resultados.</td>
                </tr>
            {{/preguntas}}

            </tbody>
        </table>
    </div>
</div>
</body>
</html>