<main class="d-flex flex-column justify-content-center align-items-center my-5">
    <div class="text-white fondo-violeta p-5 rounded-5 my-5 shadow">
        <h1 class="m-0">¡Partida finalizada!</h1>
        <h3 class="mt-5 my-0">Puntaje Obtenido:</h3>
        <div class="text-center fondo-violetaoscuro rounded-5 mt-3">
            <h1 class="texto-verde fw-bolder mx-0 p-2">{{puntaje}}</h1>
        </div>
    </div>

    <a href="/POC/lobbyjug/show"
       class="btn btn-danger btn-lg fw-bold rounded-pill px-4 boton-animado">Volver</a>
</main>
</body>
</html>