<main class="d-flex flex-column align-items-center p-5">
    <div class="text-left mt-4">
        <a href="/POC/Lobbyjug/show"
           class="btn btn-danger btn-lg fw-bold rounded-pill px-4 boton-animado">
            Volver
        </a>
    </div>

    <div class="ranking-contenedor p-5 rounded-5">
        <h1 class="text-white fw-bold">Ranking de Jugadores</h1>


        <div class="fila-textos text-white">
            <h4>Posicion</h4>
            <h4>Puntaje</h4>
        </div>
        {{#jugadores}}
            <div class="fila-ranking fw-bold" style="color: var(--color-violeta)">
                <div class="fila-posicion">
                    <div class="posicion">{{posicion}}</div>
                    <a href="/POC/Ranking/verperfil?nombre_usuario={{nombre_usuario}}">{{nombre_usuario}}</a>
                </div>
                <div>{{puntaje}}</div>
            </div>
        {{/jugadores}}
    </div>
</main>
</body>
</html>
